@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Tamil', sans-serif;
}

ul {
  list-style: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#header nav {
  margin: 3% 5%;
  display: flex;
}

#header nav ul {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
  flex-basis: 70%;
}

#header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 10%;
}

.counter {
  padding: 0 3px;
  font-weight: bold;
  font-size: 0.8rem;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer hr {
  border-width: 1.5px;
  border-style: solid;
}

footer p {
  font-size: 0.8rem;
  padding: 1.3rem;
}

#comment-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin: auto;
  padding: 20px;
  margin: 3% 8%;
  gap: 2vh;
}
#movie-cover{
width: 60%;
}
#movie-cover img{
  width: 100%;
}
#movie-cover .caption {
  font-size: 1.7rem;
  text-align: center;
}

#detail{
  display: flex;  
  gap: 5%;
}

#detail ul li{
  min-width: max-content;
}

#comment{
  margin: 2vh 0;
}
#comment h1{
  text-align: center;
  margin: 2vh 0;
}
#comment-container form fieldset{
  display: flex;
  flex-direction: column;
  border: none;
  text-align: center;
  align-items:flex-start;
}

#comment-container form legend{
  margin: 5px 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

#comment-container form input{
  font-size: 1.1rem;
}

#comment-container form button{
  padding: 5px 10px;
}

#close{
  width: 5vw;
  height: 5vw;
  background-image: url('./images/icons/close.svg');
  position: absolute;
  top: 2%;
  left: 90%;
}